/* Estilos personalizados para react-bootstrap-typeahead */
.mi-typeahead .rbt-input-main {
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  border: 2px solid #4f46e5;
  padding: 8px;
  width: 100%;
}
.mi-typeahead .rbt-menu {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  height: auto;
  background-color: #fff;
  color: black;
  border-radius: 8px;
  padding: 5px;
  margin: 5px 0px;
}
.mi-typeahead .rbt-menu .rbt-menu-item {
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}
.mi-typeahead .rbt-menu .dropdown-item:hover {
  background-color: var(--color-cyan-700);
  color: #fff;
  border-radius: 5px;
}

.rbt-highlight-text {
  background-color: var(--color-cyan-500);
}
